---
import type {PostProps} from '../interfaces/post-interface'
import type { GetStaticPaths } from "astro";
import MainLayout from "../layouts/MainLayout.astro";
import { siteConfig } from "../config/site-config";
import BlogPost from "../components/BlogPost.astro";
// console.log(posts)
// export async function getStaticPaths({ paginate }) {
//   const posts = await Astro.glob("./posts/*{md,mdx}");
//   // Generate pages from our array of astronauts, with 2 to a page
//   return paginate(posts, { pageSize: 2 });
// } satisfies GetStaticPaths

const posts = await Astro.glob("./posts-old/*{md,mdx}") as PostProps[]

---

<MainLayout title="Santi-blog">
  <!-- component -->
  <section class="bg-white dark:bg-gray-900 rounded-md">
    <div class="container px-6 py-10 mx-auto">
      <h1 class="text-3xl font-semibold text-gray-800 capitalize lg:text-4xl">
        {siteConfig.title}
      </h1>

      <div class="grid grid-cols-1 gap-8 mt-8 md:mt-16 md:grid-cols-2">
        {posts.map((post) => <BlogPost {...post}/>)}
      </div>
    </div>
  </section>
</MainLayout>
