---
import { Image } from "astro:assets"
import MainLayout from "../../layouts/MainLayout.astro"

import post05Img from '@images/post-05.png'
---

<MainLayout>

    <h1>
        Imagenes
    </h1>

    <Image src={post05Img} >
</MainLayout>
