---
import "../styles/blog.css";
// interface Props {
//     title?: string,
// }
const { title } = Astro.props; //...rest
// const frontmatter = rest.frontmatter
// console.log(frontmatter)
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-gray-400">
    <main
      class="mb-10 max-5-xl m-auto container mx-auto px-4 flex flex-col items-center w-screen"
    >
      <slot />
    </main>
    <script src="../../node_modules/preline/dist/preline.js"></script>
  </body>
</html>
