---
import ViewTransitions from 'astro/components/ViewTransitions.astro'
import '../styles/blog.css'
// interface Props {
//     title?: string,
// }
const {title, ...rest} = Astro.props
const frontmatter = rest.frontmatter
console.log(frontmatter)
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{frontmatter.title}</title>
    <ViewTransitions/>
  </head>
  <body class="bg-gray-400">

      <main class="mb-10 max-5-xl m-auto container mx-auto px-4 flex flex-col items-center">
        <a
        href="/"
        class="middle none center mr-3 rounded-lg bg-pink-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none my-4"
        data-ripple-light="true"
      >
        Regresar
      </a>
      <slot />
    </main>
    <script is:inline src="./assets/vendor/preline/preline.js"></script>
  </body>
</html>
